  <footer>
    <div class="container">
        <p>&copy; 2024 Manga Marketplace. All rights reserved.</p>
        <div class="social-icons">
          <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i> Facebook</a>
          <a href="https://x.com/"><i class="fab fa-twitter"></i> Twitter</a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a>
        </div>
      </div>
  </footer>
</body>
</html>
