<%- include('../partials/header') %>
<main>
  <p>
    Discover manga! Available for purchase and trade. Join our community and
    find the next addition to your collection!
  </p>
  <a href="items" class="btn">Browse Items</a>
</main>
<%- include('../partials/footer') %>
